body{
    width: 100%;
    height: 100%;
}
#main{
    background-color: #f0f2f5;
    width: 100%;    
    height: 100%;
}
#main_2{
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
}
#imgdiv{
    padding-top: 10%;
    padding-bottom: 15%;
    width: 50%;
    height: 60%;
    
    float: left;
}
#imgdiv>img{
    width: 50%;
}
#imgdiv>h2{
    margin-top: -3%;
    margin-left: 5%;
    width: 85%;
}

#logindiv{
    padding-top: 10%;
    padding-bottom: 15%;
    width: 50%;
    height: 60%;

    float: right;
}

#loginform{
    background-color: white;
    width: 60%;
    height: 100%;
    border-radius: 5%;
    text-align: center;
    margin: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
#id_div{
    padding: 6px 0;
}
#id_text{
    width: 85%;
    margin-bottom: 2%;
    font-size: 18px;
    padding: 3% 3%;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}
#pwd_div{
    padding: 6px 0;
}
#pwd_text{
    width: 85%;
    margin-bottom: 2%;
    font-size: 18px;
    padding: 3% 3%;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}
#login_btn{
    width: 90%;
    margin-bottom: 2%;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 120%;
    padding: 3% 3%;
    margin-bottom: 3%;
}

#forgotpwd{
    font-size: small;
    margin-bottom: 3%;
}

#bd_line{
    width: 100%;
    border-bottom: 1px solid #dddfe2;
}

#new_btn{
    width: 35%;
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 100%;
    padding: 3% 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}