<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.manager.mapper.DeptMapper">
    <select id="selectAll"
    resultType="com.app.manager.domain.DeptDTO">
        SELECT *
        FROM dept
    </select>

    <select id="selectByOption" parameterType="com.app.manager.domain.DeptSearchOption"
    resultType="com.app.manager.domain.DeptDTO">
        SELECT *
        FROM dept
        <where>
            <if test="searchType != null and keyword != null">
            <if test="searchType == 'dname'">
<!--                dname LIKE CONCAT('%', #{keyword}, '%')-->
                <include refid="searchDname"></include>
            </if>
            <if test="searchType == 'loc'">
<!--                loc LIKE CONCAT('%', #{keyword}, '%')-->
                <include refid="searchLoc"></include>
            </if>
            </if>
        </where>
    </select>

    <sql id = "searchDname">
        dname LIKE CONCAT('%', #{keyword}, '%')
    </sql>

    <sql id = "searchLoc">
        loc LIKE CONCAT('%', #{keyword}, '%')
    </sql>

    <select id="selectByDeptnos" parameterType="list" resultType="com.app.manager.domain.DeptDTO">
        SELECT *
        FROM dept
        <where>
            <if test="list != null and list.size != 0">
                deptno IN
                <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectByDeptno" resultType="com.app.manager.domain.DeptDTO">
        SELECT *
        FROM dept
        WHERE deptno = #{deptno}
    </select>

    <update id="updateDept" parameterType="com.app.manager.domain.DeptDTO">
        UPDATE
        dept
        SET dname=#{dname}, loc=#{loc}
        WHERE deptno=#{deptno}
    </update>

    <delete id="deleteDept">
        DELETE
        FROM dept
        WHERE deptno=#{deptno}
    </delete>

    <insert id="insertDept" parameterType="com.app.manager.domain.DeptDTO">
        INSERT
        INTO dept
        VALUES (#{deptno}, #{dname}, #{loc})
    </insert>

</mapper>